@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Asap, sans-serif;
}

body {
    background-color: #24272e;
}

header {
    background: white;
    padding: 20px;
}

header > h1 {
color:  #24272e;
text-align: center;

}

.score-board {
    border: 3px solid white;
    width: 200px;
    margin: 20px auto;
    color: white;
    font-size: 40px;
    border-radius: 5px;
    text-align: center;
    padding: 15px 15px;
    
    /* must have this position in order for the user & comp lables to have an absolute position */
    position: relative;

}

.badge {
    background: #e2584d;
    color: white;
    font-size: 15px;
    padding: 2px 8px ;
   
}

#user-label {
 position: absolute;
 top: 30px;
 left: -20px;
}

#comp-label {
    position: absolute;
    top: 30px;
    right: -25px;
}

.results {
    color: white;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    /* padding-bottom: 20px; */
}

.choices {
    text-align: center;
    margin: 40px 0;
}

.choice {
    display: inline-block;
    /* border: 4px solid white;
    border-radius: 50%; */
    margin: 0 15px;
    padding: 15px;
}